.meshok {
    position: relative;
}

.mestoOtkudaRojdaetseaRebionokRebionka {
    display: flex;
    justify-content: space-between;
}

.right.meshok::before {
    width: calc(50% - 6px);;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #bc9641;
}

.left.meshok::before {
    width: calc(50% + 2px);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #bc9641;
}

.middle.meshok::before {
    width: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #bc9641;
}