<ng-container *ngTemplateOutlet="card; context: { $implicit: cards[0] }"></ng-container>

<ng-template #card let-item>
    <div class="wrap-container">
        <div class="organ">
            <input type="text" name="organ" [(ngModel)]="item.title" />
            <div class="zachatie">
                <input
                  #input
                  type="number"
                  name="kolvo"
                  id="kolvo"
                  aria-label="Имя сюда"
                  [(ngModel)]="item.kolvo"
                  (keydown.enter)="item.createChild()"
                />
                <button (click)="item.createChild()">Create</button>
            </div>
            <button id="removeCard" (click)="item.remove()">X</button>
        </div>
        <div class="mestoOtkudaRojdaetseaRebionok">
            <ng-template #anchorForChild renderAnchor [templateToRender]="card" [userActions]="item.userActions"></ng-template>
        </div>
    </div>
</ng-template>
