.organ {
    height: 90px;
    width: 180px;
    border: 3px dashed rgb(204, 147, 156);
    margin: 24px;
    gap: 8px;

    button {
        padding: 4px;
    }

}

.mestoOtkudaRojdaetseaRebionokRebionka {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
